{% extends "blog/base.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <!--Display news Article images  -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{thegram_item.images_image.url}}" class="img-responsive" alt="Image">
      </div>
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.image }}</a></h2>
    <p class="article-content">{{ post.description }}</p>
  </div>
</article>
{% endfor %}
{% endblock  %}